@charset "UTF-8";


main {
    height: 100vh;
}

#section-login {
    border-radius: 5px;
    box-shadow: 0 0 10px #17a3b897;
    padding: 100px;
}

input[type="checkbox"] {
    cursor: pointer;
    accent-color: #866503;
}

.style-button-login {
    width: 90%;
}

a#password-recover {
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
}

a#password-recover:hover {
    text-decoration: none;
    color: #e5e5e5;
}

