@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
main {
    height: 100vh;
}

/* header */

header {
    background-attachment: fixed;
}
header nav {
    background: #4C5958;
}
header ul li a {
    color: #8AA6A3;
    font-size: 1.1rem;
    font-weight: 500;
}
header ul li a:hover {
    color: #127369;
}

/* Content home */

#box_home {
    background: #4C5958;
}

#home_content_box {
    display: flex;
    gap: 40px;
}

#box_content {
    align-self: center;
}

#box_content h1,
#box_content p {
    color: #ffff;
}

#box_content form button {
    background: #10403B;
    color: #fff;
    font-size: 1.1rem;
    transition: background 1.3s, color 1s ;
}
#box_content form button:hover {
    background: #127369;
    color: #0c2e2b;
}
#box_content form input:focus {
    border-color: #10403B;
}



@media screen and (max-width: 1080px) {

    section#box_home {
        padding: 30px 0;
    }

    #home_content_box {
        width: 70%;
        justify-content: center;
    }

    #box_image_home {
        display: none;
    }
}

@media screen and (max-width: 525px) {
    div#box_content h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 400px) {
    div#box_content h1 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 365px) {
    div#box_content h1 {
        font-size: 2rem;
    }
}