@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color_primary: #003366;
    --color_secundary: #3399FF;
    --color_highlight: #CCCCCC;
    --color_text: #373940;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
header {
    background-color: var(--color_primary);
    padding-block: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    max-width: 1100px;
    margin-inline: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    padding-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 300;

    &:hover {
        color: var(--color_highlight);
    }
}
.nav-link::after {
    background-color: var(--color_secundary);
    border-radius: 10px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    transition: .5s ease-in-out;
}
.nav-link:hover::after {
    width: 100%;
}
.btn {
    border-radius: 6px;
    font-size: 1.1rem;
    padding: 6px 15px;
    text-decoration: none;
    transition: background-color .5s ease-in-out;
}
.btn-list {
    display: flex;
    gap: 20px;
}
#btn_login {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-left: 10px;

    &:hover {
        background-color: #ffffff;
        color: var(--color_primary);
    }
}
#btn_register {
    background-color: #ffffff;
    color: var(--color_primary);

    &:hover {
        background-color: var(--color_secundary);
        color: #ffffff;
    }
}
#btn_navbar {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    outline: none;

    &:hover {
        color: var(--color_secundary);
    }
}
#close_navbar {
    display: none;
}
.blur-navbar {
    background-color: rgba(0,0,0,0.3);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

/* estilizações gerais */
main {
    background-color: var(--color_highlight);
}
.container-contents {
    max-width: 80%;
    margin-inline: auto;
}
.btn-more {
    background-color: var(--color_primary);
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 10px;
    transition: .3s;

    &:hover {
        background-color: var(--color_secundary);
    }
}
.content h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
}
.content p {
    color: var(--color_text);
    font-size: .9rem;
    margin-bottom: 10px;
}
.image-content img {
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
    width: 100%;
}
.line {
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 51, 102, 0.1);
}
.no-scroll {
    overflow: hidden;
    height: 100vh;
}
/* Conteúdos da Home - Início*/
#home {
    background-color: var(--color_primary);
}

#home > .container-contents {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    height: 600px;
    gap: 70px;
}
.home-content {
    color: #ffffff;
}
.home-content h1 {
    font-size: 5rem;
    font-weight: 300;
}
.home-content p {
    font-size: .9rem;
}
.home-image {
    height: 600px;
    position: relative;
}
.home-image img {
    position: absolute;
    bottom: 0;
    max-width: 400px;
}
.register-email {
    display: grid;
    grid-template-columns: 2fr 150px;
    margin-top: 20px;
}
.register-email input {
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 1.2rem;
    outline: none;
    padding: 10px;
}
.register-email button {
    background-color: var(--color_secundary);
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    transition: .3s;

    &:hover {
        background-color: #1F598C;
    }
}
.icon-home {
    display: flex;
    margin-top: 15px
}
.icon-app {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;    
    padding: 5px;
    margin-left: 10px;

    &:hover {
        background-color: #fff;
        color: var(--color_text);
    }
}
/* Conteúdo saiba */
#know > .container-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

/* Conteúdos Juros */
#fees > .container-contents {
    display: grid;
    grid-template-columns: 400px 600px;
    gap: 70px;
    align-items: center;
}

/* Conteúdos Cards */
#cards > .container-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 50px 0;
}
.cards img {
    width: 100%;
}
.cards h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
}
.cards p {
    color: #373940;
    font-size: .9rem;
}
/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-top: 1px solid rgba(0, 51, 102, 0.1);
}
.footer-navbar {
    display: flex;
    gap: 20px;
    list-style: none;
}
.footer-navbar .footer-link {
    color: var(--color_text);
    text-decoration: none;

    &:hover {
        color: var(--color_secundary);
    }
}
.icon-footer {
    display: flex;
    gap: 10px;
}
.icon-footer i {
    border-radius: 5px;
    border: 1px solid var(--color_primary);
    color: var(--color_primary);
    padding: 5px;

    &:hover {
        border: 1px solid var(--color_secundary);
        color: var(--color_secundary);
    }
}

/* Media Queries */
@media screen and (max-width: 1150px) {
    .home-content h1 {
        font-size: 4rem;
    }
    .home-image img {
        max-width: 350px;
    }
    
}

@media screen and (max-width: 980px) {
    .home-image img {
        width: 285px;
    }
}

@media screen and (max-width: 900px) {
    #btn_navbar {
        display: block;
    }
    #btn_login {
        background-color: var(--color_primary);
        color: #ffff;
        transition: box-shadow .3s ease-in-out;

        &:hover {
            background-color: var(--color_primary);
            color: #fff;
            box-shadow: 0 0 8px rgba(0,0,0,0.5);
        }
    }
    #btn_register {
        background-color: transparent;

        &:hover {
            background-color: transparent;
            color: var(--color_secundary);
        }
    }
    #close_navbar {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--color_primary);
        display: block;
        font-size: 1.1rem;
        position: absolute;
        right: 10px;
        top: 20px;

        &:hover {
            color: var(--color_secundary);
        }
    }
    .container-navbar {
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        width: 250px;
        transition: left .5s ease-in-out;
        z-index: 1000;
    }
    .container-navbar.active {
        left: 0;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        margin-block-start: 60px;
    }
    .nav-link {
        color: var(--color_primary);
        font-size: 1.2rem;

        &:hover {
            color: var(--color_secundary);
        }
    }
    .btn-list {
        gap: 0;
        margin-top: 20px;
    }
    .blur-navbar.active {
        display: block;
    }
    /* Home */
    .home-image {
        display: none;
    }
    .home-content {
        grid-column: 1/3;
    }
    #home .home-content h1 {
        font-size: 5rem;
    }
    /* Contepudos Saiba e Juros  */
    #know > .container-contents,
    #fees > .container-contents,
    #cards > .container-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
    .image-content img {
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    #home .home-content h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 520px) {
    #home .home-content h1 {
        font-size: 3rem;
    }
}